.body {
    display: flex;
    font-size: 1.6rem;
    flex-direction: column;
    margin: 0 auto;
}

.body .hello-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-top: 160px;
    width: 700px;
    height: 80px;   
}

.hello-name p {
    margin-top: -1px;
    font-size: 1.6rem;
    display: flex;
    align-items: flex-start;
    width: 300px;
    flex-direction: row;
}

p.name {
    margin-top: -1px;
    font-size: 1.6rem;
    display: flex;
    align-items: flex-start;
    width: 122px;
    flex-direction: row;
    margin-left: 80px;
}

#about {
    display: flex;
    flex-direction: column;
    height: 444px;
    width: 800px;
    margin: 0 auto;
    align-items: center;
}

.about-title {
    margin-top: 0px;
    font-size: 14px;
    font-family: 'Roboto';
    line-height: 16px;
    letter-spacing: 0.04em;
}

.headers {
    border: 2px solid red;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headers p {
    border: 1px solid yellow;

}

.about-para {
    width: 700px;
    height: 108px;
    font-size: 20px;
}

.skills-edu {
    display: flex;
    /* border: 2px solid green; */
    margin-top: 30px;

}

.skills, .edu {
    display: flex;
    width: 400px;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    /* border: 2px solid orange; */
    flex-direction: column;
    justify-content: center;
    margin-bottom: 150px;
}

.edu p {
    width: 185px;
    margin: 0 auto;
    margin-top: 34px;

}



.skills-header {
    /* border: 2px solid red; */
    margin-top: -10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.04em;

}

.edu-header {
    /* border: 2px solid red; */
    margin-top: -34px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.04em;
}

.type-writer {
    display: flex;
    font-size: 1.6rem;
    width: 300px;
}

.hello-more {
    margin-bottom: 140px;
    margin-top: -68px;
}