.footer {
    display: flex;
    height: 80px;
    color:white;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    font-family: 'Roboto';
    margin-top: 100px;
}

.navigation {
    margin: 0 auto;
}

.footer a {
    text-decoration: none;
    color:black;
    font-size: 1.4rem;
}


