@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Playfair Display';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
